nav{
  background: rgb(143, 77, 77);
  display: flex;
  align-items: center;
  height: 7vh;
  border-bottom: dashed .5px rgb(81, 183, 176);
}
.logo{}
.logo h1{}
.menu{}
.menu ul{
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}
.menu ul li{}
.menu ul li a{
  text-decoration: none;
}