nav{
  background: black;
  display: flex;
  align-items: center;
}
.logo{}
.logo h1{}
.menu{}
.menu ul{
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}
.menu ul li{}
.menu ul li a{
  text-decoration: none;
}